:root{
    --Color-1: #f7f7f7;
    --Color-2: #2cc295;
    --Color-2: #03624c;
    --Color-3: #00df82;
    --Color-4: #042222;
    --Color-5: #021a1a;
}

ul.nav{
    height: 10vh;
    display: flex;
    align-items: center;
}

ul.nav li.branch{
    margin-right: auto;
}

ul.nav li a{
    color: var(--Color-5);
    &:hover{
        color: var(--Color-4);
    }
}
