:root{
    --Color-1: #f7f7f7;
    --Color-1-2: rgba(247,247,247,0.3);
    --Color-2: #2cc295;
    --Color-3: #03624c;
    --Color-4: #00df82;
    --Color-5: #042222;
    --Color-6: #021a1a;
}

@media screen and (min-width: 300px)  and (max-width: 800px){
    .section-home{
        background-color: var(--Color-1);
        position: relative;
        height: 150vh;
        background-image: url("../img/01.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .section-home svg{
        position: relative;
        z-index: 0;
        width: 100%;
        margin-bottom: -1px;
    }

    .section-home .bottom-wave{
        top: 125vh;
    }
    
    .section-home .content-middle{
        position: absolute;
        z-index: 1;
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 20vh;
    }
    
    .content-middle .titles{
        width: 90%;
        text-align: center;
        color: var(--Color-1);
        margin-bottom: 10vh;
    }
    
    .content-middle .buttons{
        width: 90%;
        text-align: center;
        margin-bottom: 15vh;
    }
    
    .content-middle .buttons a{
        margin-left: 5%;
        margin-right: 5%;
        color: var(--Color-5);
        background-color: var(--Color-1);
        font-weight: bold;
        border: none;
        padding: 10px;
        border-radius: 10px;
        transition: all 0.5s;
        &:hover{
            background-color: var(--Color-5);
            color: var(--Color-1);
            border-radius: 15px;
        }
    }
    
    .content-middle .buttons a.testimonios{
        background-color: var(--Color-3);   
        color: var(--Color-5);
        &:hover{
            background-color: var(--Color-5);
            color: var(--Color-5);
        }
    }
    
    .cards{
        width: 90%;
    }
    
    .cards .card{
        margin: auto;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--Color-1-2);
        -webkit-backdrop-filter: blur(4px) ;
        font-weight: bold;
        color: var(--Color-1);
        border: 1px solid var(--Color-1);
        width: 80%;
        margin-bottom: 2vh;
    }
    
    .cards .card i{
        font-size: 30pt;
    }
    
    .cards .card p{
        margin: 0px;
        text-align: center;
    }
}

@media screen and (min-width: 850px) and (max-width: 2560px){
    .section-home{
        background-color: var(--Color-1);
        position: relative;
        height: fit-content;
        background-image: url("../img/01.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .section-home svg{
        position: relative;
        z-index: 0;
        width: 100%;
        margin-bottom: -1px;
    }
    
    .section-home .content-middle{
        position: absolute;
        z-index: 1;
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 20vh;
    }
    
    .content-middle .titles{
        width: 60%;
        text-align: center;
        color: var(--Color-1);
        margin-bottom: 10vh;
    }
    
    .content-middle .buttons{
        width: 60%;
        text-align: center;
        margin-bottom: 15vh;
    }
    
    .content-middle .buttons a{
        margin-left: 15%;
        margin-right: 15%;
        color: var(--Color-5);
        background-color: var(--Color-1);
        font-weight: bold;
        border: none;
        padding: 15px;
        border-radius: 10px;
        transition: all 0.5s;
        &:hover{
            background-color: var(--Color-5);
            color: var(--Color-1);
            border-radius: 15px;
        }
    }
    
    .content-middle .buttons a.testimonios{
        background-color: var(--Color-3);
        &:hover{
            background-color: var(--Color-5);
            color: var(--Color-1);
        }
    }
    
    .cards{
        width: 60%;
        display: flex;
    }
    
    .cards .card{
        margin: auto;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--Color-1-2);
        -webkit-backdrop-filter: blur(4px) ;
        font-weight: bold;
        color: var(--Color-1);
        border: 1px solid var(--Color-1);
        width: 30%;
    }
    
    .cards .card i{
        font-size: 30pt;
    }
    
    .cards .card p{
        margin: 0px;
        text-align: center;
    }    
}

